<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <% questions.forEach(q => { %>
    <h2><%= q.question %></h2>
    <% q.answers.forEach(a => { %>
      <button><%= a.answer %></button>
    <% }) %>
  <% }) %>
</body>
</html>