<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <h2><%= question %></h2>
  <% incorrectAs.forEach(a => { %>
    <button><%= a %></button>
  <% }) %>
  <button><%= correctA %></button>
</body>
</html>